name: Compile examples

on:
  push:
    paths-ignore:
      - '.github/workflows/cpp_lint.yml'
      - '.github/workflows/compile_library.yml'
  pull_request:
    paths-ignore:
      - '.github/workflows/cpp_lint.yml'
      - '.github/workflows/compile_library.yml'

jobs:
  compile_examples:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        board:
          - d1_mini
          - esp32dev
        example:
          - "examples/Sheets/CopyTo/CopyTo.ino"
          - "examples/Spreadsheets/Create/Create.ino"
          - "examples/Spreadsheets/Delete/Delete.ino"
          - "examples/Spreadsheets/Get/Get.ino"
          - "examples/Spreadsheets/List/List.ino"
          - "examples/Values/Append/Append.ino"
          - "examples/Values/Clear/Clear.ino"
          - "examples/Values/Read/Read.ino"
          - "examples/Values/Update/Update.ino"
          - "examples/Values/Create_Update_Read/Create_Update_Read.ino"

    steps:
      - uses: actions/checkout@v4

      - name: Cache pip
        uses: actions/cache@v4
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
          restore-keys: ${{ runner.os }}-pip-

      - name: Cache PlatformIO
        uses: actions/cache@v4
        with:
          path: ~/.platformio
          key: ${{ runner.os }}-${{ hashFiles('platformio.ini') }}
          restore-keys: ${{ runner.os }}-

      - name: Set up Python and Install PlatformIO
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Install PlatformIO Core
        run: |
          python -m pip install --upgrade pip
          pip install --upgrade platformio

      - name: Install 3rd party dependency
        run: pio lib -g install https://github.com/mobizt/ESP-Google-Sheet-Client

      - name: Update library
        run: pio lib --global update

      - name: Run PlatformIO CI for ${{ matrix.board }} and ${{ matrix.example }}
        run: pio ci --board=${{ matrix.board }}
        env:
          PLATFORMIO_CI_SRC: ${{ matrix.example }}