name: Compile Library

on:
  push:
    paths-ignore:
      - '.github/workflows/cpp_lint.yml'
      - '.github/workflows/compile_examples.yml'
      - 'examples/**'
  pull_request:
    paths-ignore:
      - '.github/workflows/cpp_lint.yml'
      - '.github/workflows/compile_examples.yml'
      - 'examples/**'

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        board:
          - d1_mini
          - esp32dev

    steps:
    - uses: actions/checkout@v4

    - name: Cache pip
      uses: actions/cache@v4
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
        restore-keys: ${{ runner.os }}-pip-

    - name: Cache PlatformIO
      uses: actions/cache@v4
      with:
        path: ~/.platformio
        key: ${{ runner.os }}-${{ hashFiles('platformio.ini') }}
        restore-keys: ${{ runner.os }}-

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.x'

    - name: Install PlatformIO + dependencies
      run: |
        python -m pip install --upgrade pip
        pip install --upgrade platformio intelhex

    - name: Create platformio.ini
      run: |
        cat << EOF > platformio.ini
        [platformio]
        lib_dir = .

        [env]
        framework = arduino
        test_framework = unity

        [env:d1_mini_ci]
        platform = espressif8266
        board = d1_mini

        [env:esp32dev_ci]
        platform = espressif32
        board = esp32dev
        EOF

    - name: Create dummy sketch
      run: |
        echo '#include <Arduino.h>\nvoid setup() {}\nvoid loop() {}' > dummy.cpp

    - name: Run PlatformIO CI Build
      run: |
        pio ci --lib=. dummy.cpp --project-conf=platformio.ini -e ${{ matrix.board }}_ci
